# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan

# Sensitive vars
terraform.tfvars

# dbt
target/
logs/
dbt_packages/

# Python
venv/
__pycache__/

# OS
.DS_Store

# Tests
tests/

# LLM
.codex
