snowflake_organization_name  = "YOUR_SNOWFLAKE_ORG_NAME"
snowflake_account_name       = "YOUR_SNOWFLAKE_ACCOUNT_NAME"
snowflake_user               = "YOUR_SNOWFLAKE_USER"
snowflake_password           = "YOUR_SNOWFLAKE_PASSWORD"
snowflake_role               = "ACCOUNTADMIN"

warehouse_name    = "MODERN_INSURANCE_PLATFORM_WH"
dev_database_name = "DEV_MODERN_INSURANCE_PLATFORM"
prd_database_name = "PRD_MODERN_INSURANCE_PLATFORM"
enable_streams_and_tasks = true
